  <% @tasks.each do |task| %>
  <h2><%= task.name %></h2>
  <p><%= task.content %></p>
  <p><%= task.deadline %></p>
  <p><%= link_to "c'est quoi cette tâche?", task_path(task) %></p>
  <p><%= link_to "modifier la tâche", edit_task_path(task) %></p>
  <% end %>
